<!DOCTYPE html>
<html>
 <head>  
    <meta charset="utf-8">
    <title></title>
</head> 
<body>
    
    <article>
        <a href="/info">Visit info</a>
        <a href="/weather">Visit nasa image</a>
        <img src={{image}}>
    </article>
        <form>
  search something:<br>
  <input type="text" name="firstname", id="input1">
</form>
</body>
</html>